@CHARSET "UTF-8";

.w_300 {
    width: 300px;
}

.w_200 {
    width: 200px;
}

.w_100 {
    width: 100px;
}

.h_300 {
    height: 300px;
}

.h_200 {
    height: 200px;
}

.h_100 {
    height: 100px;
}
.h_30{
	height:30px;
}
.w_500{
	width:500px;
}
